{% extends "base.html" %}
{% block title %}Login - Joyland Schools Portal{% endblock %}
{% block content %}
    <section class="form-overlay accent-bar m-3-auto">
        <span class="float-shape float-shape1"></span>
        <span class="float-shape float-shape2"></span>
        <span class="float-shape float-shape3"></span>
    <h1 class="mb-1-5">Login</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="input-icon">
                <i class="fa fa-user"></i>
                {{ form.username(class_="", id="username", placeholder="Username") }}
            </div>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                {{ form.password(class_="", id="password", placeholder="Password") }}
            </div>
            {{ form.submit(class_="cta-btn w-100 mt-0-5") }}
            <div class="text-right mt-0-7 w-100">
                <a href="{{ url_for('forgot_password') }}" class="color-53c1fd font-size-098 text-underline opacity-085">Forgot Password?</a>
            </div>
        </form>
    </section>
{% endblock %}
